#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 70%;
    margin-bottom: 20px;
}

.form,
.box {
    width: 100%;
    max-width: 250px;
    margin: 0 10px;
}
